@model string

@await Html.PartialAsync("_title","Account settings")
<script src="~/js/pages/FileViewer.js"></script>
<script>


(async() => 
{
  await SetFileToView("@Model") 

})();
</script>
<div class="text-center">
  <div>
    
      <div class="drag-area active max-width-root">
          <div id="manFileViewer"></div>
      </div>
     <div class="fileViewerText padding-root rounded-root max-width-root">
         <div class="downloadFileInfo">
             <h4 class="font-size-root margin-root" id="SizeFile">Loading</h4>
             <h4 class="font-size-root margin-root" id="Extension">Loading</h4>
             <h4 class="font-size-root margin-root" id="FileName">Loading</h4>
             <button class="btn btnFileBox" id="DownloadButton">Download</button>
         </div>
     </div>   
  </div>

</div>