<div class="text-center">
    <section>
            <dialog id="UploadDialog" class="dialog">
                <header class="dialogHeader ">
                    <h3 id="MainDialog" style="color: white">Upload dialog</h3>
                </header>
                <div class="dialogContent">
                    
                    <div id="dialogSteps"></div>
                    

                </div>
                
                <button class="btn control btn-cancel" onclick="cancelDialog('UploadDialog')">Cancel</button>
            </dialog>
    </section>
</div>