.downloadFileInfo
{
    justify-content: space-between;
    min-height: 100%;
    display: inline-flex;
    width: 99%;
}
.imageFile
{
    max-width: 97%;
    max-height: 97%
}
#manFileViewer
{
    display: contents;
}
.fileBoxCenter
{
    margin: auto;
    width: 99%;
}