.downloadFileInfo
{
    justify-content: space-between;
    min-height: 100%;
    display: inline-flex;
    width: 99%;
}
.imageFile
{
    max-width: 97%;
    max-height: 97%
}
#manFileViewer
{
    display: contents;
}
.fileViewerText
{   
    margin: auto;
    margin-top: 18px;
    width: 99%;
    background-color: #2e3442;
}