@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.fileTextDiv
{
    margin-block: 18px;
    background-color: #2e3442;
}

.fileTextDiv .controls
{
    display: inline-flex;
}

.fileTextDiv .control
{
    margin-inline: 3px;
    cursor: pointer;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #fff;
    color: #5256ad;
    border-radius: 5px;
}

.drag-area
{
    margin: auto;
    margin-top: 20px;
    border: 2px dashed #fff;
    height: 75vh;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.drag-area.active
{
    border: 2px solid #fff;
}
.drag-area .icon
{
    font-size: 100px;
    color: #fff;
}
.drag-area header
{
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}
.drag-area span
{
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    margin: 10px 0 15px 0;
}

.btnFileBoxMini
{
    padding: 2px 20px;
}
.StepsPointsContainer 
{
    margin-top: 10px;
    position: relative;
}

.steps 
{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.step 
{
    width: 40px;
    height: 40px;
    background: #fff;
    border: 2px solid #ACACA6;
    border-radius: 50%;
    transition: background 1s;
}
.step.selected 
{
    border: 2px solid #2e3442;
}
.step.completed 
{   
    z-index: 1;
    border: 2px solid #9aa3b7;
    background: #2e3442;
}
.progress 
{
    position: absolute;
    margin-top: 16px;
    margin-inline: 2%;
    width: 96%;
    height: 15%;
    border-bottom: 4px;
    z-index: 0;
}
.percent 
{
    position: absolute;
    height: 72%;
    border-bottom: 4px solid #2e3442;
    z-index: 1;
    transition: width 1s;
}
