.font-size-root
{
    font-size: 24px;
}
.padding-root
{
    padding: 9px;
}
.rounded-root
{
    border-radius: 15px;
}
.margin-right-root
{
    margin-right: 10px;
}
.margin-root
{
    margin: 10px;
}