@model FtoWeb3.PageObjects.UniversalAddressPage

<script>
SmartContractVersion = GetSmartContractVersion("@Model.PageAddress");
</script>

    <div class="text-center">
        <div class="spin-wrapper">
            <div class="spinner">
            </div>
        </div>
    </div>

@if (Model.PageAddress==default)
{   
    <script>
        
        function initPage() 
        {
            PageAjaxTransition("@Model.Page",userAddress,true);       
        }
           
    </script>
}
else
{
    <script>
        function initPage() 
        {
            PageAjaxTransition("@Model.Page","@Model.PageAddress",true);  
        }
       
    </script>
}

