@model FtoWeb3.PageObjects.UniversalAddressPage


<div class="text-center">
    <div class="spin-wrapper">
        <div class="spinner">
            
            
        </div>
    </div>
</div>   

<script>
        
    function initPage() 
    {
        PageAjaxTransition("@Model.Page");       
    }
           
</script>